@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
    padding: 0 1vw;
    background: url('images/background.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    min-width: 1200px;
    max-width: 1200px;
    margin: auto;
}

/*
* HEADER
*/
header{
    margin-top: 2vh;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header #characters{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
header img{
    height: 8vh; 
}
header h1{
    color: white;
    margin-left: 10px;
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
}
/*
* SEARCH CHARACTER
*/
#search{
    width: 20vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
}
#search input{
    width: 50%;
    height: 100%;
    border: none;
    border-radius: 30px;
    background: #111;
    outline: none;
    padding: 20px;
    padding-right: 50px;
    font-size: 1em;
    font-weight: 400;
    color: white;
    transition: .5s;
}
#search p{
    position: absolute;
    width: 48px;
    height: 48px;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 10px 20px black;
    transition: .1s;
}
#search p:hover{
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 5px 8px red;
}
/*
* SLIDESHOW
*/
#slideshow p{
    visibility: hidden;
}
#slideshow p{
    color: rgba(223, 0, 0,.7);
    font-size: 50px;
    cursor: pointer;
    margin: 0 10px;
    position: absolute;
}
#slideshow p:hover{
    color: rgba(223, 0, 0,1);
}
#slideshow p:nth-child(1){
    left: 2vw;
}
#slideshow p:nth-child(2){
    right: 2vw;
}
#slideshow{
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-x: hidden; 
}
#wrap{
    display: inline-flex;
    text-align: center;
    align-items: center;
}
.singleHero{
    width: 18vw;
    text-align: center;
    border-radius: 20px 20px 10px 10px;
    color: white;
    overflow: hidden;
    cursor: pointer;
    margin: 0 2vw;
    opacity: .6;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px black;
    animation: heroFade .2s linear;
    transition: 1s;
}
.singleHero:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 5px 20px rgb(223, 0, 0);
}
.singleHero #imgHero{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    transition: .15s;
}
.singleHero #imgHero:hover{
    width: 105%;
}
.singleHero h1{
    color: white;
    font-size: 22px;
    margin: 10px;
    letter-spacing: 2px;
}
/*
* HERO DESCRIPTION
*/
#hero{
    height: 50vh;
    width: 60vw;
    top: 28vh;
    bottom: 22vh;
    left: 20vw;
    position: absolute;
    text-align: center;
    display: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .8);
    animation: heroFade .2s linear;
}
#hero #imgHeroDescription{
    flex: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 10px;
    transition: .15s;
}
#hero #description{
    flex: 3;
    height: 100%;
    color: rgb(223, 0, 0);
    padding: 70px;
}
#hero h2{
    position: absolute;
    right: 2vw;
    top: 3vh;
    cursor: pointer;
    font-size: 20px;
    transition: .1s;
}
#hero h2:hover{
    font-size: 22px;
}
#hero #description p{
    margin-top: 10px;
    color: white;
}

/*
* FOOTER
*/
footer{
    padding: 10px 0;
    height: 5vh;
    color: white;
    text-align: center;
    font-weight: bold;
}

@keyframes heroFade{
    from{
        opacity: 0;
    }
}